rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leaderboards/{type}/scores/{scoreId} {
      allow read: if true;
      allow create: if true
                    && request.resource.data.score is int
                    && request.resource.data.score >= 0
                    && request.resource.data.score <= 999999;
      allow update, delete: if false;
    }
  }
}
